h1 {
  background-image: url(https://github.com/codefellows/seattle-201d19/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true);
  width: auto;
  height: 400px;
}

.table-data {

}

thead, tr, tfoot {
  font-size: 18px;
  border: 2px
}

td {
  font-size: 16px;
  border: 1px;
}
