#main-page {
  background-image: url(https://github.com/codefellows/seattle-201d19/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true);
  width: auto;
  height: 400px;
}

h1 {
  width: 250px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

#home-button {
  width: 125px;
  margin-top: 50px;
  margin: auto;
}

#grand-total, .hourly-totals, .daily-totals{
  font-weight: bold;
}

h2 {
  width: 250px;
  margin: auto;
  margin-top: 50px;
}

table {
  border: solid;
  border-width: thick;
  width: 800px;
  margin: auto;
  margin-bottom: 35px;
}

fieldset {
  width: 200px;
  margin:auto;
  border-radius: 15px;
}

legend {
  margin: auto;
}

label, input{
  display: block;
}


thead, tr, tfoot, th{
  font-size: 18px;
  border: solid;
  border-width: thick;
  border-radius: 1px;
}

td {
  font-size: 16px;
  border: solid;
  margin: 0;
  border-width: thin;
  border-radius: 1px;
}
