body {
  background-image: url(seattle.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

p {
  font-size: 20px;
  width: 65%;
  margin: auto;
  margin-top: 14px;
}

h3 {
  margin: auto;
  margin-top: 40px;
}

.store-locations {
  background-color: #34ba2d;
  width: 400px;
  margin: auto;
}

.main-content {
  background-color: #e599a6;
  width: 660px;
  margin: auto;
  border: solid;
}


headder h1 {
  width: 300px;
  margin: auto;
}

headder img {
  width: 50%;
  height: auto;
  margin-left: 25%;
}

.pat {
  width: 250px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 4%;
}

#home-button {
  width: 125px;
  margin-top: 50px;
  margin: auto;
}

#grand-total, .hourly-totals, .daily-totals{
  font-weight: bold;
}

h2 {
  width: 250px;
  margin: auto;
  margin-top: 50px;
  color: #c9a414;
  background-color: #052452;
}

table {
  border: solid;
  border-width: thick;
  width: 800px;
  margin: auto;
  margin-bottom: 35px;
}

fieldset {
  width: 200px;
  margin:auto;
  border-radius: 15px;
  background-color: #6c64cc
}

legend {
  margin: auto;
  font-weight: bold;
}

label, input{
  display: block;
}


thead, tr, tfoot, th{
  font-size: 18px;
  border: solid;
  border-width: thick;
  border-radius: 1px;
}

td {
  font-size: 16px;
  border: solid;
  margin: 0;
  border-width: thin;
  border-radius: 1px;
}

table {
  background-color: #c7dda8
}

.nav-bar ul li {
  display: inline-block;
  width: 23%;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}
